if ! find_up .venv/pyvenv.cfg; then
    echo "ITS NOT there"
    python3 -m venv .venv
    echo "NOW IT IS"
fi

source ./.venv/bin/activate

if ! find_up ./.venv/dummy.txt; then
    echo "ITS NOT there"
    pip install .
    pip install '.[dev]'
    touch ./.venv/dummy.txt
    echo "NOW IT IS"
fi

pre-commit install

# source ./.venv/bin/activate



#Use direnv allow to run stuff within the envrionment
# git add, git commit, git push


#   if [[ ! -d $VIRTUAL_ENV ]]; then
#         log_status "no venv found; creating $VIRTUAL_ENV"
#         "$python" -m venv "$VIRTUAL_ENV"
#     fi
