path="./.venv"

if [ ! -d "$path" ]; then
    echo "Creating a virutal environment under path"
    python3 -m venv $path
fi

source "$path/bin/activate"

if ! find_up "$path/.direnv"; then
    echo "ITS NOT there"
    pip install --editable .
    pip install --editable '.[dev]'
    touch "$path/.direnv"
    echo "NOW IT IS"
fi

pre-commit install
