venv_path="./.venv"

if [ ! -d "$venv_path" ]; then
    echo "creating a venv under: $venv_path"
    python3 -m venv $venv_path
fi

source "$venv_path/bin/activate"

if ! find_up "$venv_path/.direnv"; then
    echo "installing all dependencies for venv"
    pip install --editable .
    pip install --editable '.[dev]'
    touch "$venv_path/.direnv"
    echo "Finished installing all dependencies for venv"
fi

pre-commit install
